<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/output.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Orange_Tree</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script type="importmap"></script>
</head>
<body>
    <header>
    </header>
    <div>
        <main>
            <div class="navbar bg-base-100 shadow-sm gap-4 p-4">
                <div class="navbar-start">
                    <button class="btn btn-ghost btn-lg">
                        Orange_Tree
                    </button>
                </div>
                <div class="navbar-end">
                    <ul class="menu menu-horizontal rounded-box bg-base-300">
                        <li><a>About</a></li>
                        <li><a>GitHub</a></li>
                    </ul>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
        <div>
            &copy; 2025 - Orange_Tree - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
