@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blogs</h1>
    <h2>Hot Reload Test</h2>
    <div>
        @foreach(var blog in Model.Blogs)
        {
            <div>
                <h3>@blog.Title</h3>
                <h5>@blog.Description</h5>
            </div>
        }
    </div>

</div>
